<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= fruit.name %></title>
</head>
<body>
  <h1><%= fruit.name %></h1>

  <a href="/fruits">Back to All Fruits</a>

  <br> <br>

<% if(fruit.isReadyToEat){ %>
    <p> Ready to Eat!!!</p>
  <% }else{ %>
    <p>Wait a little longer!!!</p>
<% } %>


 <p> <%= fruit.isReadyToEat ?  " Ready to Eat!!!":  "Wait a little longer!!!" %></p>


  <form action="/fruits/<%=fruit._id%>?_method=DELETE" method="POST">
    <button type="submit">Delete <%= fruit.name %></button>
  </form>
  <a href="/fruits/<%= fruit._id %>/edit">Edit <%= fruit.name %></a>
</body>
</html>